.wrapper {
  display: flex;
  width: 1024px;
  margin: 50px auto;
}

.wrapper-sauces {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.circle {
  /* background-color: burlywood; */
  position: relative;
  background: radial-gradient(
    closest-side circle at center,
    #ffdf73 82%,
    #ffc500 95%,
    #ffc500 100%
  );
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin: 50px auto;
}

.panel {
  padding: 20px;
}

.panel-products {
  list-style: none;
  padding: 10px;
  margin: 0;
}

.product {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.icons {
  width: 60px;
  height: 50px;
}

.sauces {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.order_btn {
  margin: 0 auto;
  display: block;
  border-radius: 4px;
  background-color: #fff;
  padding: 5px 25px;
  font-weight: 700;
  cursor: pointer;

  border-color: #a67e00;
}

.order_btn:active {
  transform: scale(1.1);
  background-color: rgba(255, 221, 115, 0.3);
}

.title {
  text-align: center;
}
