.wrapper {
  display: flex; /*flex*/
  width: 1024px;
  margin: 50px auto;
  -webkit-box-shadow: 0px 1px 21px 2px rgba(75, 82, 85, 0.76);
  box-shadow: 0px 1px 21px 2px rgba(75, 82, 85, 0.76);
  border-radius: 4px;
}

.wrapper-sauces {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.circle {
  /* background-color: burlywood; */
  position: relative;
  background: radial-gradient(
    closest-side circle at center,
    #ffdf73 82%,
    #ffc500 95%,
    #ffc500 100%
  );
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin: 50px auto;
}

.panel {
  padding: 20px;
  -webkit-box-shadow: 6px 1px 21px 2px rgba(75, 82, 85, 0.76);
  box-shadow: 6px 1px 21px 2px rgba(75, 82, 85, 0.76);
  border-radius: 4px;
}

.panel-products {
  list-style: none;
  padding: 10px;
  margin: 0;
}

.product {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-bottom: 1px solid #061621;
}

.icons {
  width: 60px;
  height: 50px;
}

.sauces {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  position: relative;
}

.order_btn {
  margin: 0 auto;
  display: block;
  border-radius: 4px;
  background-color: #fff;
  padding: 5px 25px;
  font-weight: 700;
  cursor: pointer;
  border-color: #ffc500;
  margin-bottom: 10px;
}

.order_btn:active {
  transform: scale(1.1);
  background-color: rgba(255, 221, 115, 0.3);
}

.title {
  text-align: center;
}

.fake_input {
  width: 20px;
  height: 20px;
  /* background-color: #ffde7357; */
  border: 1px solid #ffc500;
  border-radius: 3px;
  background-size: 15px;
  background-position: center;
  background-repeat: no-repeat;
}

.sauce:checked + .fake_input {
  background-image: url("./img/tick.png");
}

.sauce {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 20px;
  height: 20px;
}

.pizza_cost {
  margin: 0 auto;
  padding: 20px;
}

.modal-window {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
}

.modal-window__window {
  min-width: 300px;
  background-color: #fff;
  border-radius: 4px;
}

.modal-window__body,
.modal-window__footer {
  border-top: 1px solid #ccc;
  display: flex;
  padding: 15px;
}

.bill {
  min-width: 300px;
  border-collapse: collapse;
  border: 2px solid rgb(0, 0, 0);
  font-weight: bold;
}
thead {
  border-bottom: 2px solid rgb(0, 0, 0);
  font-size: 18px;
  background-color: rgb(156, 151, 151);
}

.tfoot {
  background-color: rgb(156, 151, 151);
  border-top: 2px solid rgb(0, 0, 0);
}

.bill tbody tr.ingredient > td {
  background-color: rgb(236, 192, 69);
  border-top: 2px solid rgb(0, 0, 0);
  border-bottom: 2px solid rgb(0, 0, 0);
}

.ingredient > td {
  color: #fff;
  font-weight: 700;
}

.bill tbody td {
  text-align: left;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 10px 15px;
}

.bill tbody tr:nth-child(even) {
  background: #f3f3f3;
}
th,
td {
  padding: 15px;
  /* background-color: rgba(83, 82, 75, 0.4); */
  color: rgb(37, 32, 32);
}

.ordered {
  padding: 15px;
  font-weight: 700;
}

.bold {
  font-weight: 700;
  border-top: 1px solid #ccc;
}
