/* .x {
  width: 50px;
  height: 50px;
  background: radial-gradient(circle at center, red, transparent);
} */

.circle {
  /* background-color: burlywood; */
  position: relative;
  background: radial-gradient(
    closest-side circle at center,
    #ffcd40 80%,
    #a67a00 80%,
    #a67a00 100%
  );
  width: 450px;
  height: 450px;
  border-radius: 50%;
  margin: 50px auto;
}

.panel {
  position: fixed;
  border: 1px solid red;
}

.panel-products {
  list-style: none;
  padding: 10px;
  margin: 0;
}

/* .product {
  border: 1px solid gold;
  border-radius: 5px;
  margin-bottom: 5px;
} */

.icons {
  width: 60px;
  height: 50px;
}
