.wrapper {
  display: flex;
  width: 1024px;
  margin: 50px auto;
}

.wrapper-sauces {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.circle {
  /* background-color: burlywood; */
  position: relative;
  background: radial-gradient(
    closest-side circle at center,
    #ffcd40 80%,
    #a67a00 80%,
    #a67a00 100%
  );
  width: 350px;
  height: 350px;
  border-radius: 50%;
  margin: 50px auto;
}

.panel {
  padding: 20px;
}

.panel-products {
  list-style: none;
  padding: 10px;
  margin: 0;
}

.product {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.icons {
  width: 60px;
  height: 50px;
}

.sauces {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
